{% extends "base.html" %}
{% block tittle %}Consulta{% endblock tittle %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">País</th>
      <th scope="col">Cidade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Maksuel</td>
      <td>Brasil</td>
      <td>Cuiabá</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Patricia </td>
      <td>EUA</td>
      <td>Dallas</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mahomes </td>
      <td>EUA</td>
      <td>Kansas City</td>
    </tr>
  </tbody>
</table>

{% endblock content %}